/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
.mainnav a {
  color: #fff;
}

header {
  padding: 154px 0 100px;
}

.tasklist {
    padding: 50px 0;
}

.tasklist .row {
    padding-bottom: 20px;
}

.order__direction {
    display: none;
}
.active .order__direction {
    display: inline;
}

.tasklist img{ margin-left: 20px;}
.tasklist .row {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.hiddenblock {
    display: none;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
