/***
File Uploader
 */

.dropzone label.fileinput-button {
    padding: 10px 20px;
    width: 168px;
    background-color:#ffffff;
    color: #000000;
    text-align: center;
}

.dropzone label.fileinput-button span {
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}
.dropzone label.fileinput-button span:before {
    display: none;
    content: "";
    width: 25px;
    height: 26px;
    margin-top: -13px;
    margin-left: 0px;
    margin-right: 0px;
//background-image: url('../img/clip.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
}

.btn-delete-file, .btn-delete {
    font-size: 16px;
    width: 30px;
    height: 30px;
    padding:0;
}
.btn-upload-one {
    width: auto;
}


.loading, .errormsg {
    padding:15px;
    display: none;
}

.hovertoaction {
    background: #ddd;
}
.hoverto_remove {
    background: #ddd;
    border: 1px dashed #f00 !important;
}
.hoverto_remove td {
    border-top: 1px dashed #f00;
    border-bottom: 1px dashed #f00 ;
}
.hoverto_edit {
    padding: 20px;
    border: 1px dashed #29abe2;
    border: 1px dashed #84d8d0;
}


.existsimages, .existsfiles, .addfileslist  {
    list-style: none;
}
.existsimages li,
.existsfiles li,
.addfileslist li {
    margin-bottom:10px;
}
.existsfiles img {
    max-width: 748px;
}

.fileinput-button input{
    display: none;


}
.form label.fileinput-button {
    color: #FFF;
}
.dropzone {
    min-height: 100px;
}
#dropzone4image {
    min-height: 100px;
}
.dropzone-active {
    border: 2px dashed #bbb;
    background-color: #fff;
    padding: 25px;
}
.file_thumb {
    max-width:200px;
    max-height:100px;
}
.btn-upload-all {
    display: none;
}
ul.filelist, .existsfiles, .addfileslist {
    /*margin-bottom:20px;*/
    list-style: none;
    padding:0;
    margin:0;
}

.existsfiles, .addfileslist {
    margin-bottom: 5px;
}
.file_ext {
    min-width: 70px;
    min-height: 50px;
    font-size:2em;
    font-weight: bold;
    float:left;
}

.filelist::before,
.filelist::after,
.filelist li::before,
.filelist li::after,

.addfileslist::before,
.addfileslist::after,
.addfileslist li::before,
.addfileslist li::after,

.existsfiles::before,
.existsfiles::after,
.existsfiles li::before,
.existsfiles li::after

{
    display: table;
    content: " ";
}

.filelist:after, .filelist li:after,
.addfileslist:after, .addfileslist li:after,
.existsfiles:after, .existsfiles li:after {
    clear: both;
}

.existsfiles .file_ext {
    float: none;
    display: inline-block;
    vertical-align: baseline;
}
.existsfiles a {
    display: inline-block;
}

.existsfiles .btn-delete-file{
    position: absolute;
    margin-left: 10px;
}
.filelist .progress,
.addfileslist .progress
{
    display: none;
}

.filelist .thumb,
.addfileslist .thumb {

}
.imgcolumn {
    float:left;
    width:200px;
    min-height: 100px;
    text-align: center;
    margin-right: 10px;
}

.imgcolumn img.thumb {
    max-width: 200px;
}
